# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.vs/privix-core/v15/Browse\.VC\.db

\.vs/privix-core/v15/Browse\.VC\.opendb

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/privix-core/v15/\.suo

\.vs/Beetok-Core/v15/ipch/AutoPCH/a7a02c162beb2312/POW\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/2c0892661eb554d9/KERNEL\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/382ff47ce60e04bf/SPORK\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/53f5b8285d9561c9/SPORKDB\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/ecba8b62adbfdd39/KERNEL\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/f306b066c54e2a59/CLIENTVERSION\.ipch

\.vs/VSWorkspaceState\.json

\.vs/privix-core/v15/ipch/AutoPCH/62ee637654a070c9/CLIENTVERSION\.ipch

\.vs/privix-core/v15/ipch/AutoPCH/54b8d9a1e354f82/POW\.ipch

\.vs/privix-core/v15/ipch/AutoPCH/6022c6eb9483ef8f/SPORK\.ipch

\.vs/privix-core/v15/ipch/AutoPCH/9407b8fa1b77ca93/WALLETDB\.ipch

\.vs/privix-core/v15/ipch/AutoPCH/bf1e1a99f0610fa8/CLIENTVERSION\.ipch

\.vs/privix-core/v15/ipch/AutoPCH/6daba197f83e6094/MASTERNODE\.ipch

\.vs/privix-core/v15/ipch/AutoPCH/88b1ac239d914905/SPORK\.ipch

\.vs/privix-core/v15/ipch/AutoPCH/de133efec8ea4bc9/OVERVIEWPAGE\.ipch
